/* mobile base */

#timeLine {
  float: left;
  width: 100%;
}
#container {
  clear: both;
  width: 80%;
  margin: 30px auto 0;
}
#writing {
  clear: both;
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10%;
}
#writing .me img {
  float: left;
  width: 30px;
  margin: 1rem;
}
#writing .me p {
  float: left;
  font-size: 1rem;
  margin: 1.2rem 0 0 0;
}
#writing textarea {
  float: left;
  width: 98%;
  margin-left: 1%;
  height: 100px;
  border: 1px solid #64cbf9;
  border-radius: 0;
}
#writing #inputBox {
  clear: both;
  float: right;
  width: 40px;
  height: 1.9rem;
  border: 1px solid #ccc;
  margin: 0.5rem 1%;
  color: #fff;
  background: #fff;
}
#writing #inputBox input {
  border: none;
  background: #fff;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.reading {
  clear: both;
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.reading .writerArea img {
  float: left;
  width: 30px;
  margin: 1rem;
}
.reading .writingInfo {
  float: left;
}
.reading .writingInfo p {
  clear: both;
  float: left;
  font-size: 1rem;
  margin-top: 12px;
}
.reading .writingDate {
  clear: both;
  float: left;
  margin: 0.3rem 0 0 0;
  font-size: 0.5rem;
  color: #bbb;
}

.content {
  float: left;
  width: 96%;
  min-height: 48px;
  margin-left: 2%;
  border: 1px solid #ccc;
}

.likeArea {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.likeArea div {
  padding: 5px 0;
  text-align: center;
}
.likeArea .likeNum {
  clear: both;
  float: left;
  width: 33%;
  border-right: 1px solid #ccc;
  font-size: 1.2rem;
}
.likeArea .likeBtn {
  float: left;
  width: 33%;
  border-right: 1px solid #ccc;
  font-size: 1.2rem;
}
.likeArea .contentsID {
  float: left;
  width: 33%;
  font-size: 1.2rem;
}

.myCommentArea {
  float: left;
  width: 100%;
}
.myCommentArea img {
  float: left;
  width: 25px;
  margin: 2px;
}
.commentBox {
  clear: both;
  float: left;
  width: 98%;
  padding: 1%;
  margin-bottom: 4px;
  font-size: 1.2em;
}
.comment {
  float: left;
}
.commentPoster,
.writtenComment {
  float: left;
  font-size: 1.2em;
}
.commentBox .commentPoster {
  color: #64cbf9;
  margin-right: 10px;
}

.inputBox {
  float: left;
  width: 100%;
  margin-top: 16px;
  border-top:1px solid #ccc;
}
.inputBox img {
  float: left;
  width: 25px;
  margin: 2px 2px 2px 11px;
}
.inputComment {
  float: left;
  width: 70%;
  height: 26px;
  margin-left: 10px;
  border: none;
  background: #fff;
}
.regCommentBox {
  float: right;
  width: 9%;
  height: 29px;
  border-left: 1px solid #ccc;
  background: #fff;
}
.regCommentBtn {
  float: left;
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
  cursor:pointer;
}

#advertiseBox {
    display:none;
}
#noContents {
    clear:both;
    float:left;
    width:100%;
    text-align: center;
    padding:10px 0 10px 0;
    display:none;
}

/* mobile base */
@media screen and (min-width:500px){
    .likeNum{clear:none;width:33%;border:none;}
    .likeBtn{width:33%;cursor:pointer;border-left:1px solid #ccc;border-right:1px solid #ccc;}
    .contentsID{width:33%;cursor:pointer;}
}

/* PC */
@media screen and (min-width:1200px){
    #timeLine{width:80%;}
    #advertiseBox{display:block;float:right;width:19%;height:580px;background:#64cbf9;margin-top:100px;position:fixed;right:0;color:#fff;font-size:3em;}
}