/* 로그인 후 요소들을 안보이게 처리 */
#viewType,#myName{
    display: none;
}

/* common */
header{
    clear:both;
    float:left;
    width:100%;
    background:rgba(85,191,247,0.7);
}

/* mobile */
@media screen and (min-width:0px) and (max-width:1199px){
    #myService{
        float:left;
        color:#fff;
        width:100%;
        font-size:2rem;
        text-align:center;
        margin-bottom:1rem;
    }
    #loginForm{
        clear:both;
    }
    #loginEmailArea,#loginPwArea{
        clear:both;
        float:left;
        width:100%;
    }
    #loginPwArea{
        margin-top:0.4rem;
    }
    .loginInputBox{
        float:left;
        width:59%;
        border:1px solid #ccc;
        background:#fff;
    }
    #loginEmailArea label, #loginPwArea label{
        float:left;
        width:25%;
        padding-left:1rem;
        font-size:1.2rem;
        color:#fff;
    }
    #loginEmailArea input, #loginPwArea input{
        float:left;
        width:100%;
        padding-left:0.5rem;
        font-size:1.2rem;
        border:none;
        background:#fff;
    }
}